services:
	# služby
	- Taco\Commands\Output
	- Taco\Commands\RequestEnvParser

	# commandy
	command.hello:
		class: Taco\Commands\HelloCommand
	command.help:
		class: Taco\Commands\HelpCommand
	command.version:
		class: Taco\Commands\VersionCommand
